.start-button {
    font-size: 50px;
    background-color: lightgray;
    color: rgb(167, 0, 0);
}

.jumbotron {
    background-image: url("../images/bg-pandemic.jpg");
    background-position: top center;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: black;
    border-bottom: lightgray solid 1px;
    letter-spacing: 5px;
}

body {
    background-color: rgb(43, 15, 15);
}